/*Scoped Selectors*/
.className {
    color: green;
    margin: 10px 0;
}

/*Global Selectors*/
:global(.text) {
    font-size: 22px;
}

/*Class Composes*/
.otherClassName {
    composes: className;
    width: 220px;
    height: 60px;
    line-height: 60px;
    border-width: 2px;
    border-style: solid;
}

/*Composes Overrides*/
.background {
    border-radius: 20px;
    background: #efefef;
    composes: otherClassName;
    border-style: dotted;
}    

/*Scoped Animations*/
.backgroundAnimation {
	composes: background;
	composes: tada from './animation.css';
}


/*Define variables*/
@value colors: "./colors.css";
@value color, fontSize from colors;

.color {
	composes: otherClassName;
	color: color;
	font-size: fontSize;
}